:root {
  --light: #f8f8f8;
  --light-grey: rgb(232, 232, 232);
  --dark: rgb(62, 62, 62);
  --dark-grey: rgb(93, 93, 93);

  --primary-color: rgb(40, 40, 40);
  --secondary-color: rgb(250, 250, 250);

  --primary: rgb(107, 166, 255);
  --primary-partial: rgb(107, 166, 255, 0.5);
  --primary-light: rgb(139, 186, 255);
  --primary-dark: rgb(67, 139, 247);

  --red: rgb(255, 107, 107);
  --red-partial: rgb(255, 107, 107, 0.5);
  --red-light: rgb(250, 131, 131);
  --red-dark: rgb(247, 67, 67);

  --orange: rgb(255, 179, 107);
  --orange-partial: rgb(255, 179, 107, 0.5);
  --orange-light: rgb(250, 198, 131);
  --orange-dark: rgb(247, 154, 67);

  --yellow: rgb(255, 230, 0);
  --yellow-partial: rgb(255, 251, 0, 0.5);
  --yellow-light: rgb(255, 253, 112);
  --yellow-dark: rgb(255, 243, 75);

  --green: rgb(169, 255, 107);
  --green-partial: rgba(186, 255, 136, 0.5);
  --green-light: rgb(179, 250, 131);
  --green-dark: rgb(136, 247, 67);

  --blue: rgb(107, 196, 255);
  --blue-partial: rgb(107, 196, 255, 0.5);
  --blue-light: rgb(131, 204, 250);
  --blue-dark: rgb(67, 181, 247);

  --purple: rgb(159, 107, 255);
  --purple-partial: rgb(159, 107, 255, 0.5);
  --purple-light: rgb(159, 131, 250);
  --purple-dark: rgb(136, 67, 247);

  --pink: rgb(255, 128, 200);
  --pink-partial: rgba(255, 119, 196, 0.5);
  --pink-light: rgb(255, 146, 208);
  --pink-dark: rgb(255, 81, 200);

  --padding-xs: 0.4em 0.8em;
  --padding-sm: 0.6em 1em;
  --padding: 0.5em 1.4em;
  --padding-md: 0.6em 1.8em;
  --padding-lg: 0.4em 2em;
}
[data-theme="dark"] {
  --light: #b0b0b0;
  --light-grey: rgb(101, 101, 101);
  --dark: rgb(36, 36, 36);
  --dark-grey: rgb(76, 76, 76);

  --primary-color: rgb(250, 250, 250);
  --secondary-color: rgb(40, 40, 40);
}

/* 
Buttons
-------------------------- */
/* Primary Button */
.btn {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary-color);
  font-weight: 600;
}

.btn.round {
  border-radius: 64px;
}
.btn.rounded {
  border-radius: 8px;
}
.btn.square {
  border-radius: 2px;
}

.btn.xs {
  padding: var(--padding-sm);
  font-size: x-small;
}
.btn.sm {
  padding: var(--padding-sm);
  font-size: small;
}
.btn.md {
  padding: var(--padding);
  font-size: medium;
}
.btn.lg {
  padding: var(--padding-md);
  font-size: large;
}
.btn.xl {
  padding: var(--padding-lg);
  font-size: x-large;
}

.btn.outline:hover {
  border: 1px solid var(--primary);
  background-color: var(--secondary-color);
  color: var(--primary);
}
.btn.darker:hover {
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-dark);
}
.btn.lighter:hover {
  border: 1px solid var(--primary-light);
  background-color: var(--primary-light);
}

/* Shadow Button */
.shdw-btn {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--secondary-color);
}

.shdw-btn.round {
  border-radius: 64px;
}
.shdw-btn.rounded {
  border-radius: 8px;
}
.shdw-btn.square {
  border-radius: 2px;
}

.shdw-btn.xs {
  padding: var(--padding-sm);
  font-size: x-small;
  transform: translate(-0.4px, -0.4px);
  box-shadow: 0.1em 0.1em;
}
.shdw-btn.sm {
  padding: var(--padding-sm);
  font-size: small;
  transform: translate(-0.45px, -0.45px);
  box-shadow: 0.11em 0.11em;
}
.shdw-btn.md {
  padding: var(--padding);
  font-size: medium;
  transform: translate(-0.5px, -0.5px);
  box-shadow: 0.12em 0.12em;
}
.shdw-btn.lg {
  padding: var(--padding-md);
  font-size: large;
  transform: translate(-0.55px, -0.55px);
  box-shadow: 0.13em 0.13em;
}
.shdw-btn.xl {
  padding: var(--padding-lg);
  font-size: x-large;
  transform: translate(-0.6px, -0.6px);
  box-shadow: 0.14em 0.14em;
}

.shdw-btn.darker:hover {
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}
.shdw-btn.lighter:hover {
  border: 1px solid var(--primary-light);
  color: var(--primary-light);
}
.shdw-btn.translate:hover {
  transform: none;
  box-shadow: none;
}

/* Icon Button */
.icn-btn {
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 0.4em 0.6em;
  text-align: center;
}

.icn-btn.red {
  background-color: var(--red-partial);
  border-color: var(--red);
  color: var(--red);
}
.icn-btn.red.darker:hover {
  background-color: var(--red);
  border-color: var(--red-dark);
  color: var(--red-dark);
}
.icn-btn.orange {
  background-color: var(--orange-partial);
  border-color: var(--orange);
  color: var(--orange);
}
.icn-btn.orange.darker:hover {
  background-color: var(--orange);
  border-color: var(--orange-dark);
  color: var(--orange-dark);
}
.icn-btn.yellow {
  background-color: var(--yellow-partial);
  border-color: var(--yellow);
  color: var(--yellow);
}
.icn-btn.yellow.darker:hover {
  background-color: var(--yellow);
  border-color: var(--yellow-dark);
  color: var(--yellow-dark);
}
.icn-btn.green {
  background-color: var(--green-partial);
  border-color: var(--green);
  color: var(--green);
}
.icn-btn.green.darker:hover {
  background-color: var(--green);
  border-color: var(--green-dark);
  color: var(--green-dark);
}
.icn-btn.blue {
  background-color: var(--blue-partial);
  border-color: var(--blue);
  color: var(--blue);
}
.icn-btn.blue.darker:hover {
  background-color: var(--blue);
  border-color: var(--blue-dark);
  color: var(--blue-dark);
}
.icn-btn.purple {
  background-color: var(--purple-partial);
  border-color: var(--purple);
  color: var(--purple);
}
.icn-btn.purple.darker:hover {
  background-color: var(--purple);
  border-color: var(--purple-dark);
  color: var(--purple-dark);
}
.icn-btn.pink {
  background-color: var(--pink-partial);
  border-color: var(--pink);
  color: var(--pink);
}
.icn-btn.pink.darker:hover {
  background-color: var(--pink);
  border-color: var(--pink-dark);
  color: var(--pink-dark);
}

.icn-btn.lighter:hover {
  opacity: 70%;
}
.icn-btn.outline:hover {
  background-color: var(--secondary-color);
}
.icn-btn.translate:hover {
  transform: translate(-0.4px, -0.4px);
  box-shadow: 0.1em 0.1em;
}

.icn-btn.round {
  border-radius: 64px;
}
.icn-btn.rounded {
  border-radius: 8px;
}
.icn-btn.square {
  border-radius: 2px;
}

.icn-btn.xs {
  font-size: x-small;
}
.icn-btn.xs svg {
  width: 0.6em;
  height: auto;
}
.icn-btn.sm {
  font-size: small;
}
.icn-btn.sm svg {
  width: 0.8em;
  height: auto;
}
.icn-btn.md {
  font-size: medium;
}
.icn-btn.md svg {
  width: 1em;
  height: auto;
}
.icn-btn.lg {
  font-size: large;
}
.icn-btn.lg svg {
  width: 1.2em;
  height: auto;
}
.icn-btn.xl {
  font-size: x-large;
}
.icn-btn.xl svg {
  width: 1.4em;
  height: auto;
}

/* 
Badges
-------------------------- */
.bdg {
  color: var(--light);
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.bdg.round {
  border-radius: 64px;
}
.bdg.rounded {
  border-radius: 8px;
}
.bdg.square {
  border-radius: 2px;
}

.bdg.sm {
  padding: var(--padding-xs);
  font-size: xx-small;
}
.bdg.md {
  padding: var(--padding-sm);
  font-size: x-small;
}
.bdg.lg {
  padding: var(--padding);
  font-size: small;
}

.bdg.red {
  background-color: var(--red-partial);
  border: 1px solid var(--red);
}
.bdg.orange {
  background-color: var(--orange-partial);
  border: 1px solid var(--orange);
}
.bdg.yellow {
  background-color: var(--yellow-partial);
  border: 1px solid var(--yellow);
}
.bdg.green {
  background-color: var(--green-partial);
  border: 1px solid var(--green);
}
.bdg.blue {
  background-color: var(--blue-partial);
  border: 1px solid var(--blue);
}
.bdg.purple {
  background-color: var(--purple-partial);
  border: 1px solid var(--purple);
}
.bdg.pink {
  background-color: var(--pink-partial);
  border: 1px solid var(--pink);
}

/* 
Inputs
-------------------------- */
/* txt Input */
.txt-i {
  border: 1px solid var(--light-grey);
}

.txt-i.sqaure {
  border-radius: 2px;
}
.txt-i.rounded {
  border-radius: 8px;
}

.txt-i.sm {
  padding: var(--padding-xs);
  font-size: small;
}
.txt-i.md {
  padding: var(--padding-xs);
  font-size: medium;
}
.txt-i.lg {
  padding: var(--padding-xs);
  font-size: large;
}

/* Number Input */
.nmbr-i {
  border: 1px solid var(--light-grey);
}
.nmbr-i.sqaure {
  border-radius: 2px;
}
.nmbr-i.rounded {
  border-radius: 6px;
}

.nmbr-i.sm {
  padding: var(--padding-xs);
  font-size: small;
}
.nmbr-i.md {
  padding: var(--padding-xs);
  font-size: medium;
}
.nmbr-i.lg {
  padding: var(--padding-xs);
  font-size: large;
}

.nmbr-i.sm.one {
  width: 55px;
}
.nmbr-i.md.one {
  width: 60px;
}
.nmbr-i.lg.one {
  width: 67px;
}

.nmbr-i.sm.two {
  width: 60px;
}
.nmbr-i.md.two {
  width: 65px;
}
.nmbr-i.lg.two {
  width: 72px;
}

.nmbr-i.sm.three {
  width: 65px;
}
.nmbr-i.md.three {
  width: 75px;
}
.nmbr-i.lg.three {
  width: 82px;
}

.nmbr-i.sm.four {
  width: 70px;
}
.nmbr-i.md.four {
  width: 85px;
}
.nmbr-i.lg.four {
  width: 92px;
}

.nmbr-i.sm.five {
  width: 78px;
}
.nmbr-i.md.five {
  width: 94px;
}
.nmbr-i.lg.five {
  width: 104px;
}

.nmbr-i.sm.six {
  width: 85px;
}
.nmbr-i.md.six {
  width: 102px;
}
.nmbr-i.lg.six {
  width: 114px;
}
