/* Generated SproutCSS stylesheet 
 Changes to this file will be overwritten on next npx sproutcss.
 If necessary, consider making changes to Sprout classes in node_modules/sproutcss/sprout.css before generating. */

:root {
--blue-dark: rgb(67, 181, 247);
 --blue-light: rgb(131, 204, 250);
 --blue-partial: rgb(107, 196, 255, 0.5);
 --blue: rgb(107, 196, 255);
 --green-dark: #80aa5f;
 --green-light: #94c56f;
 --green-partial: #90be6d50;
 --green-transparent: #90be6d10;
 --green: #90be6d;
 --grey-dark: rgb(180, 180, 180);
 --grey-light: rgb(200, 200, 200);
 --grey-partial: rgb(190, 190, 190, 0.5);
 --grey: rgb(190, 190, 190);
 --neutral-primary-light: rgb(54, 54, 54);
 --neutral-primary: rgb(40, 40, 40);
 --neutral-secondary: rgb(248, 248, 248);
 --orange-dark: #f59219;
 --orange-light: #ff9d26;
 --orange-partial: #f8961e50;
 --orange: #f8961e;
 --padding-lg: 0.4em 2em;
 --padding-md: 0.6em 1.8em;
 --padding-sm: 0.6em 1em;
 --padding-xs: 0.4em 0.8em;
 --padding: 0.5em 1.4em;
 --pink-dark: rgb(255, 81, 200);
 --pink-light: rgb(255, 146, 208);
 --pink-partial: rgba(255, 119, 196, 0.5);
 --pink-transparent: rgba(255, 119, 196, 0.1);
 --pink: rgb(255, 128, 200);
 --primary-dark: rgb(67, 139, 247);
 --primary-light: rgb(139, 186, 255);
 --primary-ninety: rgb(107, 166, 255, 0.9);
 --primary-partial: rgb(107, 166, 255, 0.5);
 --primary-transparent: rgb(107, 166, 255, 0.1);
 --primary: rgb(107, 166, 255);
 --purple-dark: rgb(136, 67, 247);
 --purple-light: rgb(159, 131, 250);
 --purple-partial: rgb(159, 107, 255, 0.5);
 --purple: rgb(159, 107, 255);
 --red-dark: #e23a3d;
 --red-light: #ff4e51;
 --red-partial: #f9414450;
 --red: #f94144;
 --shadow: rgba(99, 99, 99, 0.4);
 --yellow-dark: #f4bf45;
 --yellow-light: #ffcf5e;
 --yellow-partial: #f9c74f50;
 --yellow: #f9c74f;
}
[data-theme="dark"]{
--blue-dark: rgb(67, 181, 247);
 --blue-light: rgb(131, 204, 250);
 --blue-partial: rgb(107, 196, 255, 0.5);
 --blue: rgb(107, 196, 255);
 --green-dark: rgb(136, 247, 67);
 --green-light: rgb(179, 250, 131);
 --green-partial: rgba(186, 255, 136, 0.5);
 --green-transparent: rgba(186, 255, 136, 0.1);
 --green: rgb(169, 255, 107);
 --grey-dark: rgb(80, 80, 80);
 --grey-light: rgb(120, 120, 120);
 --grey-partial: rgb(100, 100, 100, 0.5);
 --grey: rgb(100, 100, 100);
 --neutral-primary-light: rgb(255, 255, 255);
 --neutral-primary: rgb(248, 248, 248);
 --neutral-secondary: rgb(40, 40, 40);
 --orange-dark: rgb(247, 154, 67);
 --orange-light: rgb(250, 198, 131);
 --orange-partial: rgb(255, 179, 107, 0.5);
 --orange: rgb(255, 179, 107);
 --pink-dark: rgb(255, 81, 200);
 --pink-light: rgb(255, 146, 208);
 --pink-partial: rgba(255, 119, 196, 0.5);
 --pink-transparent: rgba(255, 119, 196, 0.1);
 --pink: rgb(255, 128, 200);
 --purple-dark: rgb(136, 67, 247);
 --purple-light: rgb(159, 131, 250);
 --purple-partial: rgb(159, 107, 255, 0.5);
 --purple: rgb(159, 107, 255);
 --red-dark: rgb(247, 67, 67);
 --red-light: rgb(250, 131, 131);
 --red-partial: rgb(255, 107, 107, 0.5);
 --red: rgb(255, 107, 107);
 --shadow: rgba(113, 113, 113, 0.4);
 --yellow-dark: rgb(255, 243, 75);
 --yellow-light: rgb(255, 253, 112);
 --yellow-partial: rgb(255, 251, 0, 0.5);
 --yellow: rgb(255, 230, 0);
}

.bdg {
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  width: fit-content;
  color: var(--neutral-secondary);
  padding: 0 0.4em;
  font-weight: 600;

  /* defaults */
  border-color: var(--primary);
  background-color: var(--primary);

  padding: var(--padding-xs);
  font-size: xx-small;
}
.bdg.black {
  border: var(--neutral-primary);
  background-color: var(--neutral-primary-light);
}
.bdg.blue {
  border: var(--blue);
  background-color: var(--blue-light);
}
.bdg.green {
  border: var(--green);
  background-color: var(--green-light);
}
.bdg.grey {
  border: var(--grey);
  background-color: var(--grey-light);
}
.bdg.lg {
  font-size: small;
}
.bdg.md {
  font-size: x-small;
}
.bdg.orange {
  border: var(--orange);
  background-color: var(--orange-light);
}
.bdg.pink {
  border: var(--pink);
  background-color: var(--pink-light);
}
.bdg.purple {
  border: var(--purple);
  background-color: var(--purple-light);
}
.bdg.red {
  border: var(--red);
  background-color: var(--red-light);
}
.bdg.round {
  border-radius: 64px;
}
.bdg.rounded {
  border-radius: 8px;
}
.bdg.sm {
  font-size: xx-small;
}
.bdg.square {
  border-radius: 2px;
}
.bdg.yellow {
  border: var(--yellow);
  background-color: var(--yellow-light);
}
.btn {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--neutral-secondary);
  font-weight: 600;
}
.btn.black {
  background-color: var(--neutral-primary);
  border-color: var(--neutral-primary);
}
.btn.blue {
  background-color: var(--blue);
  border-color: var(--blue);
}
.btn.h-darker:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.btn.h-green:hover {
  background-color: var(--green);
  border-color: var(--green);
}
.btn.h-grey:hover {
  background-color: var(--grey);
  border-color: var(--grey);
}
.btn.h-lighter:hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn.h-orange:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}
.btn.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--primary);
}
.btn.h-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn.h-yellow:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
}
.btn.lg {
  padding: var(--padding-md);
  font-size: large;
}
.btn.md {
  padding: var(--padding);
  font-size: medium;
}
.btn.pink {
  background-color: var(--pink);
  border-color: var(--pink);
}
.btn.purple {
  background-color: var(--purple);
  border-color: var(--purple);
}
.btn.red {
  background-color: var(--red);
  border-color: var(--red);
}
.btn.round {
  border-radius: 64px;
}
.btn.rounded {
  border-radius: 8px;
}
.btn.sm {
  padding: var(--padding-sm);
  font-size: small;
}
.btn.square {
  border-radius: 2px;
}
.btn.xl {
  padding: var(--padding-lg);
  font-size: x-large;
}
.btn.xs {
  padding: var(--padding-sm);
  font-size: x-small;
}
.crd {
  /* defaults */
  padding: 1.4em;
  height: 300px;
  width: 280px;
  --card-width: 280px;
  background-color: var(--primary-ninety);
}
.crd.black {
  background-color: rgb(40, 40, 40);
  color: rgb(248, 248, 248);
}
.crd.grey {
  background-color: rgba(186, 186, 186, 0.8);
}
.crd.h-orange:hover {
  background-color: #f8961e80;
}
.crd.lg {
  padding: 1.6em;
  height: 350px;
  width: 330px;
  --card-width: 330px;
}
.crd.md {
  padding: 1.4em;
  height: 300px;
  width: 280px;
  --card-width: 280px;
}
.crd.rounded {
  border-radius: 16px;
}
.crd.shadow {
  box-shadow: var(--shadow) 0px 1px 5px 0px;
}
.crd.sm {
  padding: 1.2em;
  height: 240px;
  width: 220px;
  --card-width: 200px;
}
.crd.square {
  border-radius: 4px;
}
.crd.white {
  background-color: rgb(248, 248, 248);
  color: rgb(40, 40, 40);
}
.icn-btn {
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 0.2em 0.4em;
  text-align: center;
  transition: color 0.15s ease, border-color 0.15s ease;

  background-color: var(--primary-partial);
  border-color: var(--primary);
  color: var(--primary);
}
.icn-btn.blue {
  background-color: var(--blue-partial);
  border-color: var(--blue);
  color: var(--blue);
}
.icn-btn.blue.h-darker:hover {
  background-color: var(--blue);
  border-color: var(--blue-dark);
  color: var(--blue-dark);
}
.icn-btn.blue.h-lighter:hover {
  opacity: 80%;
  background-color: var(--blue-partial);
  border-color: var(--blue-light);
  color: var(--blue-light);
}
.icn-btn.blue.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--blue);
}
.icn-btn.green {
  background-color: var(--green-partial);
  border-color: var(--green);
  color: var(--green);
}
.icn-btn.green.h-darker:hover {
  background-color: var(--green);
  border-color: var(--green-dark);
  color: var(--green-dark);
}
.icn-btn.green.h-lighter:hover {
  opacity: 80%;
  background-color: var(--green-partial);
  border-color: var(--green-light);
  color: var(--green-light);
}
.icn-btn.green.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--green);
}
.icn-btn.grey {
  background-color: var(--grey-partial);
  border-color: var(--grey);
  color: var(--grey);
}
.icn-btn.grey.h-darker:hover {
  background-color: var(--grey);
  border-color: var(--grey-dark);
  color: var(--grey-dark);
}
.icn-btn.grey.h-lighter:hover {
  opacity: 80%;
  background-color: var(--grey-partial);
  border-color: var(--grey-light);
  color: var(--grey-light);
}
.icn-btn.grey.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--grey);
}
.icn-btn.h-translate:hover {
  transform: translate(-0.4px, -0.4px);
  box-shadow: 0.1em 0.1em;
}
.icn-btn.lg {
  font-size: large;
}
.icn-btn.md {
  font-size: medium;
}
.icn-btn.orange {
  background-color: var(--orange-partial);
  border-color: var(--orange);
  color: var(--orange);
}
.icn-btn.orange.h-darker:hover {
  background-color: var(--orange);
  border-color: var(--orange-dark);
  color: var(--orange-dark);
}
.icn-btn.orange.h-lighter:hover {
  opacity: 80%;
  background-color: var(--orange-partial);
  border-color: var(--orange-light);
  color: var(--orange-light);
}
.icn-btn.orange.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--orange);
}
.icn-btn.pink {
  background-color: var(--pink-partial);
  border-color: var(--pink);
  color: var(--pink);
}
.icn-btn.pink.h-darker:hover {
  background-color: var(--pink);
  border-color: var(--pink-dark);
  color: var(--pink-dark);
}
.icn-btn.pink.h-lighter:hover {
  opacity: 80%;
  background-color: var(--pink-partial);
  border-color: var(--pink-light);
  color: var(--pink-light);
}
.icn-btn.pink.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--pink);
}
.icn-btn.purple {
  background-color: var(--purple-partial);
  border-color: var(--purple);
  color: var(--purple);
}
.icn-btn.purple.h-darker:hover {
  background-color: var(--purple);
  border-color: var(--purple-dark);
  color: var(--purple-dark);
}
.icn-btn.purple.h-lighter:hover {
  opacity: 80%;
  background-color: var(--purple-partial);
  border-color: var(--purple-light);
  color: var(--purple-light);
}
.icn-btn.purple.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--purple);
}
.icn-btn.red {
  background-color: var(--red-partial);
  border-color: var(--red);
  color: var(--red);
}
.icn-btn.red.h-darker:hover {
  background-color: var(--red);
  border-color: var(--red-dark);
  color: var(--red-dark);
}
.icn-btn.red.h-lighter:hover {
  opacity: 80%;
  background-color: var(--red-partial);
  border-color: var(--red-light);
  color: var(--red-light);
}
.icn-btn.red.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--red);
}
.icn-btn.round {
  border-radius: 64px;
}
.icn-btn.rounded {
  border-radius: 8px;
}
.icn-btn.sm {
  font-size: small;
}
.icn-btn.square {
  border-radius: 2px;
}
.icn-btn.xl {
  font-size: x-large;
}
.icn-btn.xs {
  font-size: x-small;
}
.icn-btn.yellow {
  background-color: var(--yellow-partial);
  border-color: var(--yellow);
  color: var(--yellow);
}
.icn-btn.yellow.h-darker:hover {
  background-color: var(--yellow);
  border-color: var(--yellow-dark);
  color: var(--yellow-dark);
}
.icn-btn.yellow.h-lighter:hover {
  opacity: 80%;
  background-color: var(--yellow-partial);
  border-color: var(--yellow-light);
  color: var(--yellow-light);
}
.icn-btn.yellow.h-outline:hover {
  background-color: var(--neutral-secondary);
  color: var(--yellow);
}
.nmbr-i {
  border: 1px solid var(--grey-light);
  padding: var(--padding-xs);
}
.nmbr-i.lg {
  font-size: large;
}
.nmbr-i.lg.five {
  width: 104px;
}
.nmbr-i.lg.four {
  width: 92px;
}
.nmbr-i.lg.one {
  width: 67px;
}
.nmbr-i.lg.six {
  width: 114px;
}
.nmbr-i.lg.three {
  width: 82px;
}
.nmbr-i.lg.two {
  width: 72px;
}
.nmbr-i.md {
  font-size: medium;
}
.nmbr-i.md.five {
  width: 94px;
}
.nmbr-i.md.four {
  width: 85px;
}
.nmbr-i.md.one {
  width: 60px;
}
.nmbr-i.md.six {
  width: 102px;
}
.nmbr-i.md.three {
  width: 75px;
}
.nmbr-i.md.two {
  width: 65px;
}
.nmbr-i.rounded {
  border-radius: 6px;
}
.nmbr-i.sm {
  font-size: small;
}
.nmbr-i.sm.five {
  width: 78px;
}
.nmbr-i.sm.four {
  width: 70px;
}
.nmbr-i.sm.one {
  width: 55px;
}
.nmbr-i.sm.six {
  width: 85px;
}
.nmbr-i.sm.three {
  width: 65px;
}
.nmbr-i.sm.two {
  width: 60px;
}
.otln-crd {
  border-style: solid;
  transition: color 0.15s ease, border-color 0.15s ease;

  /* defaults */
  padding: 1.4em;
  height: 300px;
  width: 280px;
  --card-width: 280px;

  background-color: var(--primary-transparent);
  color: var(--primary);
  border-color: var(--primary);
}
.otln-crd.b-three {
  border-width: 3px;
}
.otln-crd.black {
  background-color: rgb(40, 40, 40, 0.40);
  color: rgb(248, 248, 248);
  border-color: rgb(40, 40, 40);
}
.otln-crd.green {
  background-color: var(--green-transparent);
  color: var(--green);
  border-color: var(--green);
}
.otln-crd.h-pink:hover {
  background-color: var(--pink-transparent);
  color: var(--pink);
  border-color: var(--pink);
}
.otln-crd.md {
  padding: 1.4em;
  height: 300px;
  width: 280px;
  --card-width: 280px;
}
.otln-crd.rounded {
  border-radius: 16px;
}
.otln-crd.shadow {
  box-shadow: var(--shadow) 0px 1px 5px 0px;
}
.otln-crd.sm {
  padding: 1.2em;
  height: 240px;
  width: 220px;
  --card-width: 200px;
}
.shdw-btn {
  border-width: 1px;
  border-style: solid;
  background-color: var(--neutral-secondary);
  transition: color 0.05s ease, border-color 0.05s ease;
  font-weight: 600;

  /* defaults */
  border-color: var(--primary);
  color: var(--primary);
}
.shdw-btn.black {
  border-color: var(--neutral-primary);
  color: var(--neutral-primary);
}
.shdw-btn.blue {
  border-color: var(--blue);
  color: var(--blue);
}
.shdw-btn.green {
  border-color: var(--green);
  color: var(--green);
}
.shdw-btn.h-darker:hover {
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}
.shdw-btn.h-grey:hover {
  border-color: var(--grey);
  color: var(--grey);
}
.shdw-btn.h-lighter:hover {
  border-color: var(--primary-light);
  color: var(--primary-light);
}
.shdw-btn.h-primary:hover {
  border-color: var(--primary);
  color: var(--primary);
}
.shdw-btn.h-purple:hover {
  border-color: var(--purple);
  color: var(--purple);
}
.shdw-btn.h-red:hover {
  border-color: var(--red);
  color: var(--red);
}
.shdw-btn.h-translate:hover {
  transform: none;
  box-shadow: none;
}
.shdw-btn.h-yellow:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}
.shdw-btn.lg {
  padding: var(--padding-md);
  font-size: large;
  transform: translate(-0.55px, -0.55px);
  box-shadow: 0.13em 0.13em;
}
.shdw-btn.md {
  padding: var(--padding);
  font-size: medium;
  transform: translate(-0.5px, -0.5px);
  box-shadow: 0.12em 0.12em;
}
.shdw-btn.orange {
  border-color: var(--orange);
  color: var(--orange);
}
.shdw-btn.pink {
  border-color: var(--pink);
  color: var(--pink);
}
.shdw-btn.round {
  border-radius: 64px;
}
.shdw-btn.rounded {
  border-radius: 8px;
}
.shdw-btn.sm {
  padding: var(--padding-sm);
  font-size: small;
  transform: translate(-0.45px, -0.45px);
  box-shadow: 0.11em 0.11em;
}
.shdw-btn.square {
  border-radius: 2px;
}
.shdw-btn.xl {
  padding: var(--padding-lg);
  font-size: x-large;
  transform: translate(-0.6px, -0.6px);
  box-shadow: 0.14em 0.14em;
}
.shdw-btn.xs {
  padding: var(--padding-sm);
  font-size: x-small;
  transform: translate(-0.4px, -0.4px);
  box-shadow: 0.1em 0.1em;
}
.txt-i {
  border: 1px solid var(--grey-light);
  padding: var(--padding-xs);
}
.txt-i.lg {
  font-size: large;
}
.txt-i.md {
  font-size: medium;
}
.txt-i.rounded {
  border-radius: 8px;
}
.txt-i.sm {
  font-size: small;
}
.txt-i.square {
  border-radius: 2px;
}