:root {
  --choice: rgb(234, 234, 234, 0.5);
  --choice-border: rgb(234, 234, 234);
  --choice-hover: rgb(238, 238, 238);
  --choice-text: rgb(55, 55, 55);
}
[data-theme="dark"] {
  --choice: rgb(55, 55, 55, 0.5);
  --choice-border: rgb(45, 45, 45);
  --choice-hover: rgb(69, 69, 69);
  --choice-text: rgb(245, 245, 245);
}

.options {
  display: grid;
}
.options .class {
  font-weight: 500;
  padding: 0.2em 0.6em;
  border-bottom: 2px solid rgba(132, 180, 252, 0.4);
  width: fit-content;
  border-radius: 2px;
  margin-bottom: 0.8em;
}

.options .row {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.2em 0.6em;

  /* fix for weird styling */
  width: 100%;
  justify-self: center;
}
.row .name {
  font-weight: 500;
  min-width: 90px;
}
.row .choices {
  display: flex;
  gap: 0.4em;
}
.choices .choice-btn {
  border: 1px solid var(--btn-border);
  border-radius: 6px;
  background-color: var(--choice);
  color: var(--choice-text);
  height: 2em;
  padding: 0 0.4em;
}
.choices .choice-btn:hover {
  background-color: var(--choice-hover);
}

.flex * {
  margin: 0.2em;
}
