/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

* {
  margin: 0;
  padding: 0;
}
:root {
  --btn: rgb(234, 234, 234, 0.5);
  --btn-border: rgb(234, 234, 234);
  --btn-hover: rgb(238, 238, 238);
}
[data-theme="dark"] {
  --btn: rgb(55, 55, 55);
  --btn-border: rgb(45, 45, 45);
  --btn-hover: rgb(69, 69, 69);
}

/* pages/index */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-content: center;
}
.install {
  align-self: center;
}
.install button {
  background-color: var(--btn);
  border: 1px solid var(--btn-border);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 4px;
  padding: 0.6em 1.2em;
  font-weight: 600;
}
.install button:hover {
  background-color: var(--btn-hover);
}
.waves {
  width: 100vw;
}

/* pages/heya */
.heya {
  font-size: 4em;
}

/* pages/changelog */
.changelogContainer {
  padding: 3.8em 0;
  display: grid;
  justify-content: center;
}
.changelog {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.changelog h2 {
  width: fit-content;
  border-bottom: 2px solid black;
  padding-bottom: 0.2em;
}
.changelog h3,
.changelog ul,
ul li {
  margin-left: 0.4em;
}
